@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

#container {
    border: 5px solid blue;
    display: flex;
}

#navbar {
    border: 5px solid red;
}

#main-doc {
    border: 5px solid green;
}