@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

html {
    font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

#container {
    display: flex;
    position: relative;
}

#navbar {
    height: 100%;
    width: 330px;
    position: fixed;
    background-color: #f1f1f1
}

#main-doc {
    padding-left: 345px;
}

.margin-bottom {
    margin-bottom: 15px;
}

#The_Zen_of_Python header h2 {
    padding-top: 30px;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

h2 {
    padding: 30px 0;
}

table {
    width: 700px
}

th {
    padding: 12px;
    text-align: left;
    background-color: #244C53;
    color: white;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
}

ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #244C53;
    color: white;
}

ol {
    padding-left: 30px;
}

code {
    background-color: #eee;
    padding: 0 3px;
    border-radius: 3px;
}

pre  {
    background-color: #eee;
    border: 1px solid #999;
    display: inline-block;
    margin: 0;
    padding: 20px;
    width: 700px;
}